* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fill-space {
  flex: 1 1 auto;
}

[md-fab] {
  position: absolute;
  right: 3%;
  top: 34px;
  z-index: 1;
}

.row {
  height: 26px;
}

.column {
  border: 1px dotted #455A64;
  width: 24px;
  height: 24px;
  display: inline-block;
}